<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.yiye"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-sdk
        android:minSdkVersion="13"
        android:targetSdkVersion="17" />

    <application
        android:name=".YiyeApplication"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".SplashScreen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AboutActivity"
            android:launchMode="singleTask"
            android:theme="@style/NormalActivityTheme" />

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:label="@string/drawer_open"
            android:launchMode="singleTask"
            android:theme="@style/MainActivityTheme"></activity>
        <activity
            android:name=".SearchActivity"
            android:launchMode="singleTask"
            android:theme="@style/NormalActivityTheme"></activity>
        <activity
            android:name=".SettingActivity"
            android:launchMode="singleTask"
            android:theme="@style/NormalActivityTheme"></activity>
        <activity
            android:name=".ResultActivity"
            android:launchMode="singleTask"
            android:theme="@style/NormalActivityTheme"></activity>
        <activity
            android:name=".BookMarkActivity"
            android:launchMode="singleTask"
            android:theme="@style/NormalActivityTheme"></activity>
        <activity
            android:name=".ChannelActivity"
            android:launchMode="singleTask"
            android:theme="@style/NormalActivityTheme"></activity>
        <activity
            android:name=".LoginManagerActivity"
            android:launchMode="singleTask"
            android:theme="@style/NormalActivityTheme"
            android:windowSoftInputMode="stateAlwaysVisible"></activity>
        <activity
            android:name=".PersonalActivity"
            android:launchMode="singleTask"
            android:theme="@style/NormalActivityTheme" />
        <meta-data android:value="548010e5fd98c525e0000d1a" android:name="UMENG_APPKEY"></meta-data>
        <meta-data android:value="unknown" android:name="UMENG_CHANNEL"/>
    </application>

</manifest>